{% extends 'home.html'%}

{% block main%}
<div class="newform-bg pt-3">
    <h4 class="text-center">Edit shortage info</h4>
<form id="editform" class="m-3 mt-4" action="{{ url_for('edit', reg_id = data['id']) }}" method="POST">
    <div class="row g-2 bg-secondary-subtle add-form">
        <div class="form-floating col-lg-3 mt-3">            
            <input name="code" id="code" type="number" class="form-control bg-light" placeholder="" required autocomplete="off" value="{{ data['code'] }}">
            <label for="code">Code</label>
        </div>
        <div class="form-floating col-lg-9 mt-3">                        
            <input name="desig" id="desig" type="text" class="form-control bg-light" placeholder="" required autocomplete="off" value="{{ data['desig'] }}">
            <label for="desig">Name</label>   
        </div>      
        <div class="form-floating col-lg-6 mt-3">
            <input name="forn" id="forn" type="text" class="form-control bg-light" placeholder="" required autocomplete="off" value="{{ data['forn'] }}">
            <label for="forn">Supplier</label>
        </div>
        <div class="form-floating col-lg-6 mt-3">            
            <input name="enddate" id="enddate" type="date" class="form-control bg-light" placeholder="" required value="{{ data['end_date'] }}">
            <label for="enddate" class="bg-body-transparent m-0">Expected end of shortage</label>            
        </div>
        <div class="form-floating col-lg-6 mt-3">            
            <input name="order" id="order" type="number" class="form-control bg-light" placeholder="" required autocomplete="off" value="{{ data['order_nr'] }}">
            <label for="order" class="bg-body-transparent m-0">Order Number</label>            
        </div>
        <div class="form-floating col-lg-6 mt-3">            
            <input name="lastdate" id="lastdate" type="date" class="form-control bg-light" placeholder="" required value="{{ data['last_date'] }}">
            <label for="lastdate" class="bg-body-transparent m-0">Last updated</label>            
        </div>
        
        <div class="col-lg-3 mt-3">       
            <select name="alter" class="form-select bg-light col-3" style="height: 58px" id="alternative">
                <option disabled>Alternativa</option>
                {% if data['alternative'] == "newforn" %}
                    <option value="newforn" selected>Novo fornecedor</option>
                    <option value="newmed">Alternativa terapêutica</option>
                {% else %}
                    <option value="newforn">Novo fornecedor</option>
                    <option value="newmed" selected>Alternativa terapêutica</option>
                {% endif %}
            </select>
        </div>    
        <div class="form-floating col-lg-9 mt-3">            
            <input name="detail" id="detail" type="text" class="form-control bg-light" placeholder="" autocomplete="off" value="{{ data['detail'] }}">
            <label for="detail" class="bg-body-transparent m-0">Details</label>
        </div>
        <div class="form-floating col-lg-12 mt-3 mb-3">            
            <textarea name="obs" id="obs" class="form-control bg-light" style="height:200px" placeholder="" autocomplete="off">{{ data['obs'] }}</textarea>
            <label for="obs" class="bg-body-transparent">Notes</label>                        
        </div>
    </div>
    <div class="row g-2">
        <button type="submit" class="btn btn-success col m-4" form="editform">Save Changes</button>
        <div class="form-check col m-4" style="display:flex; justify-content:center">
            <select name="public" class="form-select" style="height: 40px; width: 150px">
            {% if data['public'] == 1 %}
                <option value=0 style="background: green">Not public</option>
                <option selected value=1 style="background: red">Public Info</option>
            {% else %}
                <option selected value=0 style="background: green">Not public</option>
                <option value=1 style="background: red">Public Info</option>
            {% endif %}
            </select>                                   
        </div>
        <div class="form-check col m-4" style="display:flex; justify-content:center">
            <select name="solved" class="form-select" style="height: 40px; width: 150px">                
            {% if data['solved'] == 1 %}
                <option value=0 style="background: red">Not resolved</option>
                <option selected value=1 style="background: green">Resolved</option>
            {% else %}
                <option selected value=0 style="background: red">Not resolved</option>
                <option value=1 style="background: green">Resolved</option>
            {% endif %}         
            </select>
        </div>
        <a href="{{ url_for('render_list', status='other') }}" class="btn btn-warning col m-4">Cancel Changes</a>
        <a href="#" class="btn btn-danger col m-4" id="delBtn">Delete record</a>                  
    </div>    
</form>
<form id="deleteform" class="col-m-4" action="{{ url_for('delete', reg_id = data['id']) }}" method="POST">    
    <input type="submit"
           class="btn btn-danger btn-md mx-auto" 
           style="display:none" 
           id="hiddenConf" 
           form="deleteform"
           value="Really?"
           onclick="return confirm('Are you really, really, really sure?')">
</form>
</div>
{% endblock main %}
{% block script %}
<script>
    bswitch = document.getElementById("delBtn");
    bswitch.addEventListener("click", toggledisplay)

    function toggledisplay(){
        child = document.getElementById('hiddenConf');

        if (child.style.display == 'none'){
                child.style.display = 'block'
            }
            else {
                child.style.display = 'none'
            }
        }

</script>
{% endblock script %}