<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- <link rel="icon" href="/static/favicon.ico"> copyright problems-->
        
        <!-- Bootstrap files-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        
        <!-- DataTables files -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
        
        <!-- Google font file -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=PT+Sans+Narrow&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="/static/styles.css">
        
        <title>Drug Shortage Database</title>

    </head>
    <body class="bg-body-secondary">

        <nav class="navbar navbar-expand-md bg-secondary">
            <div class="container-fluid">
                <a class="nav navbar-brand" href="/"> 
                    <!-- <img src="/static/chsj_logo.png" alt="logo" height="40px"> more copyright problems-->
                    Pharmacy Department - Drug Shortage Info
                </a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar-items" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-items">
                    {% if session['name'] %}
                        <ul class="navbar-nav ms-auto mb-2">
                            <li class="nav-item"><a class="nav-link" href="/menu">Menu</a></li>
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ms-auto mb-2">
                            <li class="nav-item"><a class="nav-link" href="/login">Admin</a></li>
                        </ul>
                    {% endif %}
                </div>
              
                           
            </div>
          </nav>
    <div>
    {% with messages = get_flashed_messages()%}
    {% if messages %}
        {% for message in messages%}
            <h6 id = "messages" class="alert alert-info mb-0 text-center">
                {{message}}
            </h6>
        {% endfor %}
    {% endif %}
    {% endwith %}
    </div>
    {% block main %}
    {% endblock %}
    {% block script %}
    {% endblock %}    
    </body>
</html>